body {
    margin: 0px;
    background-color: black;
    font-family: sans-serif;
}

#score {
    color: white;
    margin-left: 30px;
}

#game-container {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin: auto;
    display: flex;
    column-gap: 0.1em;
    row-gap: 0.1em;
    flex-wrap: wrap;
    overflow: hidden;
    border: white solid 1px;
}

.genius-colors {
    width: 224px;
    height: 224px;
}

#red {
    background-color: red;
}

#green {
    background-color: limegreen;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

.show {
    opacity: 50%;
}

.enabled:hover {
    opacity: 50%;
}

#buttons {
    text-align: center;
    margin-top: 25px;
}

#game-over {
    color: white;
    text-align: center;
}

@media only screen and (max-device-width: 640px) {
    .enabled:hover {
        opacity: 100%;
    }

    #game-container {
        height: 225px;
        width: 225px;
    }

    .genius-colors {
        height: 114px;
        width: 114px;
    }
}
