body {
    background-color: rgb(37, 37, 37);
    font-family: consolas;
}

#container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    padding: 1px 0px 15px 0px;
    border-radius: 30px;
    margin: 100px 10%;
}

.myButtons {
    background-color: rgb(53, 53, 53);
    padding: 5px 20px;
    border-radius: 25px;
    cursor: pointer;
}
