@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: black;
    display: grid;
}

#container {
    place-self: center;
    display: grid;
}

h1 {
    color: rgb(180, 180, 180);
    font-family: 'Arvo', sans-serif;
    font-size: x-large;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#media {
    width: 100%;
    background-color: rgb(180, 180, 180);
    border: 0px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#submit {
    place-self: center;
    margin-top: 10px;
    background-color: black;
    color: rgb(0, 200, 0);
    border: 1px solid rgb(0, 200, 0);
    border-radius: 50px;
    padding: 2px 5px;
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.4s;
}

#submit:active {
    transition-duration: 0s;
    transform: scale(0.96);
    background-color: rgb(0, 200, 0);
}

#feedback {
    text-align: center;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    visibility: hidden;
}

#final {
    text-align: center;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    visibility: hidden;
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: xx-large;
    }

    #submit {
        padding: 5px 10px;
    }

    #submit:hover {
        cursor: pointer;
        transform: scale(1.2);
        color: white;
        background-color: rgb(0, 200, 0);
    }
}
