body {
    background-color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
}

#clock {
    display: grid;
}

#time {
    place-self: center;
    color: white;
    font-size: 500%;
    font-family: 'Roboto', sans-serif;
}

#buttons {
    place-self: center;
}

button {
    margin: 0px 0px;
    border-radius: 50px;
    padding: 12px 30px;
    background-color: black;
    font-weight: bolder;
    font-family: sans-serif;
    transition-duration: 0.4s;
}

#start-button {
    color: rgb(0, 192, 0);
    border-color: rgb(0, 192, 0);
}

#start-button:hover {
    color: white;
    background-color: rgb(0, 192, 0);
    padding: 15px 50px
}

#start-button:active {
    transition: 0s;
    background-color: rgb(0, 120, 0);
}

#stop-button {
    color: grey;
    border-color: grey;
}

#stop-button:hover {
    color: white;
    background-color: grey;
    padding: 15px 50px
}

#stop-button:active {
    transition: 0s;
    background-color: rgb(65, 65, 65);
}

#reset-button {
    color: rgb(192, 0, 0);
    border-color: rgb(192, 0, 0);
}

#reset-button:hover {
    color: white;
    background-color: rgb(192, 0, 0);
    padding: 15px 50px
}

#reset-button:active {
    transition: 0s;
    background-color: rgb(120, 0, 0);
}

/* Para PC */
@media screen and (min-width: 600px) {
    button {
        padding: 12px 40px;
    }
    #start-button:hover {
        color: white;
        background-color: rgb(0, 192, 0);
        padding: 15px 50px
    }

    #stop-button:hover {
        color: white;
        background-color: grey;
        padding: 15px 50px
    }

    #reset-button:hover {
        color: white;
        background-color: rgb(192, 0, 0);
        padding: 15px 50px
    }
}
